{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
</head>
<body>
    <form action="{% url 'cadastrarPessoa' %}" method="post" class="form-user">{% csrf_token %}
        <label for="nome">Nome: </label>
        <input type="text" placeholder="Digite seu nome" id="nome" name="nome">
        <br><br>
        <label for="idade">Idade: </label>
        <input type="number" placeholder="Digite sua idade" id="idade" name="idade">
        <button id="cadastrar" type="submit">Cadastrar</button>
    </form>

    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
        </tr>

        {% for i in pessoas %}
        <tr>
            <td>{{i.nome}}</td>
            <td>{{i.idade}}</td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>